.avatar-grid {
  display: flex;                  
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 400px;
  img {
    flex: 1 0 24%;
    margin-bottom: 30px;
    img {
      width: 60px;
      height: 60px;
      &:hover {
        cursor: pointer;
        background: darken(white, 2%);
        }
      }
  }

}
